{% set navigation_bar = [
] -%}
{% set active_page = active_page|default('Home') -%}
{% set remove_params = remove_params|default(0) -%}

{% macro input(name, id, type, value="", options="required") -%}
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ name }}</span>
        </div>
        <input type="{{ type }}" class="form-control mx-2" placeholder="{{ name }}" aria-label="{{ name }}" aria-describedby="basic-addon1" name="{{ id }}" value="{{ value }}" {{ options }}>
    </div>
{%- endmacro %}

{% macro bool_select(current, id) -%}
    <select class="form-control" name="{{ id }}" required>
        <option value="{{ true }}"{% if current == true %} selected{% endif %}>True</option>
        <option value="{{ false }}"{% if current == false %} selected{% endif %}>False</option>
    </select>
{%- endmacro %}

{% macro select(options, id, name="Select", selected=option) -%}
    <select class="form-control" name="{{ id }}" required>
        <option value="" selected>{{ name }}</option>
        {% for option in options %}
            {% if option == selected %}
                <option value="{{ option }}" selected>{{ option }}</option>
            {% else %}
                <option value="{{ option }}">{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
{%- endmacro %}

{% macro input_bool_select(name, id) -%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ name }}</span>
        </div>
        {{ bool_select(-1, id) }}
    </div>
{%- endmacro %}

{% macro box_select(boxes, id) -%}
    <select class="form-control" name="{{ id }}" required>
        <option value="all" selected>All</option>
        {% for box in boxes %}
            <option value="{{ box.team_num }}-{{ box.service_ip }}">
                {{ box.team.name }} - {{ box.service.name }}
            </option>
        {% endfor %}
    </select>
{%- endmacro %}

{% macro input_box_select(boxes, name, id) -%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ name }}</span>
        </div>
        {{ box_select(boxes, id) }}
    </div>
{%- endmacro %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if refresh_interval %}
            <meta http-equiv="refresh" content="{{ refresh_interval }}">
        {% endif %}
        {% block styles %}
            <link rel="stylesheet" href="/static/style/bootstrap.css" >
            <link rel="stylesheet" href="/static/icons/font/bootstrap-icons.min.css" >
        {% endblock %}
        <title>{{ active_page }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    {% endblock %}
    {% if remove_params %}
        <script>
            window.history.replaceState(null, null, window.location.pathname);
        </script>
    {% endif %}
</head>
<body class="m-3">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Range</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for path, name in navigation_bar %}
                <li class="nav-item{% if name == active_page %} active{% endif %}">
                    {% if name == active_page %}
                        <a href="{{ path }}" class="nav-link active">
                    {% else %}
                        <a href="{{ path }}" class="nav-link">
                    {% endif %}
                        {{ name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div id="card">
    <h1 class="card-header">{{ active_page }}</h1>
    <div class="card-body m-1">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="toast align-items-center text-white bg-primary border-0 show position-absolute bottom-0 end-0 m-2" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if message %}
            <div class="toast align-items-center text-white bg-primary border-0 show position-absolute bottom-0 end-0 m-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% block scripts %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
{% endblock %}
</body>
</html>
