{% extends "base.html" %}
{% set active_page = "Home" %}
{% block content %}
    <h3>Scoreboard</h3>
    <table>
        <tr>
            <th>Team</th>
            {% for service in services %}
                <th>{{ service.service_name }}</th>
            {% endfor %}
        </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team.team_id }}</td>
                {% for service in services %}
                    <td>{{ team.score[service.service_id] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}